node_modules
.DS_Store
design
*.log
packages/test
dist
dev-
temp
.vuerc
.version
.versions
.changelog
.idea
.vscode
package-lock.json
*.local
.env

cypress/screenshots/
cypress/videos/
components.d.ts
i18n-extract

# Allow the release zip for the installer
!probe-tech-control.zip
!dist/probe-tech-control.zip
